opencv-python
packaging
keyboard
pyautogui
accessible_output2
scipy
Pillow
configparser
inputs
pynput
psutil
legendary-gl
winshell
matplotlib
PyYAML
tqdm
tensorboard
seaborn
pandas
pydub
mss
pygame
pywin32
requests
wheel
termcolor
GPUtil
pynvml
easyocr
librosa
soundfile
easyocr
pyaudio
pythonnet
spaudiopy
wxPython
PyQt6
numpy==1.26.4
cloudscraper
